
# validation page for appveyor config: https://ci.appveyor.com/tools/validate-yaml

# we are not building Visual Studio project, so default build step is off
build: off

environment:
  matrix:
    - platform: x64
      PYTHON: "C:\\Python27-x64"

    - platform: x64
      PYTHON: "C:\\Python34-x64"

    - platform: x64
      PYTHON: "C:\\Python35-x64"

    - platform: x64
      PYTHON: "C:\\Python36-x64"

    - platform: x64
      PYTHON: "C:\\Python37-x64"

init:
# check python version
  - python -V
# check 32 or 64 bit
  - python -c "import struct;print(8 * struct.calcsize('P'))"


install:
  # If there is a newer build queued for the same PR, cancel this one.
  # The AppVeyor 'rollout builds' option is supposed to serve the same
  # purpose but it is problematic because it tends to cancel builds pushed
  # directly to master instead of just PR builds (or the converse).
  # credits: JuliaLang developers.
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
        https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
        Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
          throw "There are newer queued builds for this pull request, failing early." }

  # Prepend Python to the PATH of this build
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
# check pip version
  - pip -V
# install usual requirements
  - pip install --upgrade -r tests/requirements-test.txt
  - pip install --upgrade -r requirements.txt
# check numpy version
  - python -c "import numpy as np;print(np.version.version)"
# check python and pip versions
  - python -V
  - pip -V
# check 32 or 64 bit
  - python -c "import struct;print(8 * struct.calcsize('P'))"

# install versioneer stuff
before_test:
  - python %PYTHON%\scripts\versioneer install

test_script:
# make wheel package
  - pip install wheel
  - python setup.py bdist_wheel
# clean build directory
  - rd /s /q build
# remove source directory, to be sure that we use only wheel package for testing
  - rd /s /q pymchelper
  - del setup.py
# install wheel package via pip, as we do not know the wheel filename in advance, we loop over all *.whl files in dist directory
  - ps: Get-ChildItem -Path dist\ -Recurse -Include *.whl | foreach-object { echo $_ | Out-Host ; pip install $_}
# install optional deps
  - pip install matplotlib
  - pip install pytrip98
# run tests (normal py.test command may results in memory error on appveyor, so we run tests file-by-file)
  - del tests\\test_default_converter.py # remove one of the problematic tests
  - ps: Get-ChildItem -Path tests\ -Recurse -Include test*.py | foreach-object { $(echo $_ | Out-Host ; python -m pytest $_ | Out-Host; $?) -or $(break)}


