# micro-language and markers are described here: https://www.python.org/dev/peps/pep-0496/
numpy<1.12 ; python_version >= '3.2' and python_version < '3.4' # numpy starting from 1.12 doesn't support python 3.2 and 3.3
numpy>=1.10.4 ; python_version < '3.0' or python_version >= '3.4' # newest numpy for py 2.7, 3.4 and higher
# Enum structure has appeared in Python 3.4 (https://docs.python.org/3.4/library/enum.html), for older version a backport is needed
enum34 ; python_version < '3.4'
xlwt ; python_version < '3.0' or python_version >= '3.3' # not available for python 3.2
joblib ; python_version < '3.0' or python_version >= '3.3' # not available for python 3.2