versioneer
pytest
pytest-capturelog
pytest-timeout
pytest-xdist
tox
matplotlib==1.5.1 ; os_name == 'nt'
matplotlib<2.0 ; python_version >= '3.2' and python_version < '3.4' and os_name != 'nt'
matplotlib ; (python_version < '3.0' or python_version >= '3.4') and os_name != 'nt'