# micro-language and markers are described here: https://www.python.org/dev/peps/pep-0496/
pytest==8.2.1
flake8==7.0.0
sphinx<7.2 ; python_version < '3.9'
sphinx==7.3.7; python_version >= '3.9'
mcpl==1.6.2
yapf==0.40.2
requests==2.31.0
pre-commit<3.6 ; python_version < '3.9'
pre-commit==3.7.0; python_version >= '3.9'