name: Release - PyPI Package & Docs
permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
     - master
  release:
    types:
      - published
  schedule:
    - cron: '46 18 * * 2'

jobs:
  full_test:
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - run: python -m pip install --upgrade pip
      - run: pip install -e .[full,test]
      - run: pytest -k "slow"
      - run: cd docs/images_generation && ./run.sh

  build:
    runs-on: ubuntu-latest
    needs: full_test
    permissions:
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # For setuptools-scm
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: python -m pip install --upgrade pip build twine
      - run: python -m build
      - run: twine check dist/*

      - name: Generate artifact attestation for sdist and wheels
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "dist/*"
      - uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/*

  publish:
    needs: build
    if: github.event_name == 'release' && github.event.action == 'published'
    runs-on: ubuntu-latest
    environment: pypi  # Create this environment in repo settings
    permissions:
      id-token: write  # OIDC token for PyPI
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          print-hash: true

  generate_docs:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: python -m pip install --upgrade pip
      - run: pip install -e .[docs]
      - run: sphinx-apidoc --output-dir docs/apidoc/ pymchelper
      - run: sphinx-build --jobs auto docs docs/_build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: docs/_build

  deploy_docs:
    needs: generate_docs
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    environment:
      name: github-pages
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/deploy-pages@v4
