name: Release - executable artifacts for Windows

on:
  workflow_dispatch:
  push:
    tags: ['v*']
  release:
    types: [published]

jobs:

  # generation of single-file executables
  build-executables:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository with full history
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Required for setuptools-scm to determine version from git tags

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install package with dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[full]
          pip install pyinstaller

      - name: Generate single-file executables for mcscripter
        run: pyinstaller --add-data 'pymchelper\_version.py;pymchelper' --onefile --exclude-module pytrip --name mcscripter pymchelper\utils\mcscripter.py

      - name: Generate single-file executables for plan2sobp
        run: pyinstaller --add-data 'pymchelper\_version.py;pymchelper' --onefile --exclude-module pytrip --hiddenimport='pydicom.encoders.gdcm' --hiddenimport='pydicom.encoders.pylibjpeg' --hidden-import='scipy.spatial.transform._rotation_groups'  --name plan2sobp pymchelper\utils\radiotherapy\plan.py

      - name: Generate single-file executables for runmc
        run: pyinstaller --add-data 'pymchelper\_version.py;pymchelper' --add-data 'pymchelper\flair\db\card.ini;pymchelper\flair\db' --exclude-module pytrip --onefile --name runmc pymchelper\utils\runmc.py

      - name: Generate single-file executables for convertmc
        run: pyinstaller --add-data 'pymchelper\_version.py;pymchelper' --add-data 'pymchelper\flair\db\card.ini;pymchelper\flair\db' --exclude-module pytrip --exclude-module scipy --onefile --name convertmc pymchelper\run.py

      - name: Test single-file executables
        run: |
          dist\mcscripter.exe --version
          dist\plan2sobp.exe --version
          dist\runmc.exe --version
          dist\convertmc.exe --version

      - name: Archive executables as artifacts
        uses: actions/upload-artifact@v5
        with:
          name: executables
          path: ./dist

  # upload of single-file executables to release assets
  upload-executables:
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    needs: [build-executables]
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@v6
        with:
          name: executables
          path: ./dist

      - name: Add artifact with util files to the release
        uses: ncipollo/release-action@v1.20.0
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          allowUpdates:  true
          # An optional set of paths representing artifacts to upload to the release. This may be a single path or a comma delimited list of paths (or globs)
          artifacts: './dist/*'
          token:  ${{ secrets.GITHUB_TOKEN }}
